@import "helpers/fonts";

@import "helpers/vars";

@import "modules/modules";

.icon-arrow {
fill: green;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: aquamarine;
  color: bisque;
}
header {
  font-weight: 700;
}
