extends ../layouts/main

block variables
  -var title = "Вторая страница"

block content
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem est soluta ducimus eveniet ab saepe, hic nesciunt officiis itaque harum nemo nam ea dolores autem quos id sequi! Blanditiis, nihil?
