doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(href="static/css/styles.css" rel="stylesheet")
  body
    .wrapper
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vero facere nulla quis nostrum nisi modi maiores placeat? Accusantium voluptate necessitatibus sequi quo eos eius dolores commodi #[a(href="#!") placeat] dolorem iusto.
